$fonts: (
	"default": "'Overpass', sans-serif",
);

$lightColors: (
	"background": #fcfcfc,
	"backgroundHover": #f2f2f2,
	"primaryAccent": #333,
	"secondaryAccent": #444,
	"tertiaryAccent": #ccc,
);

$darkColors: (
	"background": #0f0f0f,
	"backgroundHover": #151515,
	"primaryAccent": #ededed,
	"secondaryAccent": #dedede,
	"tertiaryAccent": #303030,
);