:root {
	--accent-color: #c0392b;
	--secondary-accent-color: #e74c3c;
	--tertiary-accent-color: #ff7d70;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea, select, input, button { outline: none; }
h1,h2,h3,h4,h5,p,a,table,td,th,li {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}
a {
	text-decoration: none;
	color: #000;
}
html {
	background: var(--accent-color);
}
textarea {
  	outline: none;
  	overflow: auto;
}


/*
  _____ _____ _____ _   _ _   _ ______ _____  
 / ____|  __ \_   _| \ | | \ | |  ____|  __ \ 
| (___ | |__) || | |  \| |  \| | |__  | |__) |
 \___ \|  ___/ | | | . ` | . ` |  __| |  _  / 
 ____) | |    _| |_| |\  | |\  | |____| | \ \ 
|_____/|_|   |_____|_| \_|_| \_|______|_|  \_\                                              
*/

#loading {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
}
.spinner {
  height: 90px;
  width: 90px;
  position: absolute;
  top: calc(50% - 45px); left: calc(50% - 45px);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 9px solid rgba(0,0,0, 0.1);
  border-right: 9px solid rgba(0,0,0, 0.1);
  border-bottom: 9px solid rgba(0,0,0, 0.1);
  border-left: 9px solid var(--secondary-accent-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*
  _____ ______ _   _ ______ _____            _      
 / ____|  ____| \ | |  ____|  __ \     /\   | |     
| |  __| |__  |  \| | |__  | |__) |   /  \  | |     
| | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |     
| |__| | |____| |\  | |____| | \ \  / ____ \| |____ 
 \_____|______|_| \_|______|_|  \_\/_/    \_\______|
*/

.clearfix {
	clear: both;
}

.restrict {
	width: 1600px;
	margin: 0 auto;
}

#main {
	min-height: 100%;
	background: #fff;
}


/*
 _    _ ______          _____  ______ _____  
| |  | |  ____|   /\   |  __ \|  ____|  __ \ 
| |__| | |__     /  \  | |  | | |__  | |__) |
|  __  |  __|   / /\ \ | |  | |  __| |  _  / 
| |  | | |____ / ____ \| |__| | |____| | \ \ 
|_|  |_|______/_/    \_\_____/|______|_|  \_\
*/

#header {
	height: 120px;
	width: 100%;
	padding: 40px 0px 20px 0px;
	position: relative;
}
#header:before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 10px;
	width: 100%;
	background: var(--accent-color);
}

#header #left {
	height: 100%;
	width: 120px;
	display: block;
	float: left;
	padding: 0px 25px 0px 0px;
}
#header #right {
	height: 100%;
	width: calc(100% - 120px - 25px); /* Minus width of left and padding */ 
	display: block;
	float: left;
}
#header #right #id {
	width: 75%;
	height: 100%;
	display: inline-block;
	float: left;
}
#header #right #contact {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
}
#header #right .right-container .top {
	height: 50%;
	width: 100%;
}
#header #right .right-container .bottom {
	height: 50%;
	width: 100%;
}

#header #left #profile-pic {
	height: 100%;
	border-radius: 100%;
}

#header #id h1 {
	font-size: 45px;
	line-height: 82px;
	height: 100%;
	color: #000;
	text-transform: capitalize;
	display: inline-block;
	float: left;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#header #id #subheading {
	height: 100%;
	width: 100%;
}
#header #id #subheading li {
	display: inline;
	font-size: 24px;
	line-height: 46px;
	color: #000;
	text-transform: capitalize;
	transition: color 0.1s;
	padding: 0px 15px 0px 0px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#header #contact h2 {
	font-size: 24px;
	height: 100%;
	font-family: "Roboto", sans-serif;
	color: #000;
	text-align: left;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	display: inline-block;
	float: right;
}
#header #contact h2.phone {
	line-height: 80px;
}
#header #contact h2.email {
	line-height: 40px;
}

#header #contact .emoji {
	padding: 0px 15px 0px 0px;
	display: inline-block;
	float: right;
	width: 30px;
}
#header #contact .emoji.phone {
	margin-top: 17px;
	height: calc(100% - 17px);
}
#header #contact .emoji.email {
	margin-top: -17px;
	height: calc(100% - -17px);
}

/*
  _____ ____  _   _ _______ ______ _   _ _______ 
 / ____/ __ \| \ | |__   __|  ____| \ | |__   __|
| |   | |  | |  \| |  | |  | |__  |  \| |  | |   
| |   | |  | | . ` |  | |  |  __| | . ` |  | |   
| |___| |__| | |\  |  | |  | |____| |\  |  | |   
 \_____\____/|_| \_|  |_|  |______|_| \_|  |_|   
*/

#main #content .content-section {
	width: 100%;
	min-height: 50px;
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
}

#main #content .content-section .title {
	height: 45px;
	font-size: 45px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	position: relative;
	padding: 0px 0px 25px 0px;
}


/*
 _____  ______ _____   ____         _____  ____   _____ _____          _      
|  __ \|  ____|  __ \ / __ \       / ____|/ __ \ / ____|_   _|   /\   | |     
| |__) | |__  | |__) | |  | |_____| (___ | |  | | |      | |    /  \  | |     
|  _  /|  __| |  ___/| |  | |______\___ \| |  | | |      | |   / /\ \ | |     
| | \ \| |____| |    | |__| |      ____) | |__| | |____ _| |_ / ____ \| |____ 
|_|  \_\______|_|     \____/      |_____/ \____/ \_____|_____/_/    \_\______|                                                                             
*/

.content-section.repo-social {

}

.content-section.repo-social #left {
	width: calc(50% - 150px);
	display: inline-block;
	float: left;
	padding: 0px 150px 0px 0px;
}
.content-section.repo-social #right {
	width: 50%;
	display: inline-block;
	float: left;
}

.content-section.repo-social #left #repo-list {
	width: 100%;
}
.content-section.repo-social #left #repo-list .repo {
	height: 60px;
	width: calc(100% - 4px);
	display: inline-block;
	float: left;
	margin: 0px 0px 20px 4px;
	position: relative;
	border-left: 4px solid;
	border-color: #ccc;
	padding: 0px 0px 0px 15px;
	transition: border-color 0.1s;
}
.content-section.repo-social #left #repo-list .repo:hover {
	border-color: var(--accent-color);
}

.content-section.repo-social #left #repo-list .repo .top {
	height: calc(65% - 5px);
	width: 100%;
	padding: 0px 0px 3px 0px;
}
.content-section.repo-social #left #repo-list .repo .bottom {
	height: 35%;
	width: 100%;
}

.content-section.repo-social #left #repo-list .repo .top .name {
	font-size: 28px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	text-transform: capitalize;
	width: 50%;
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
  	display: inline-block;
  	float: left;
  	line-height: 34px;
}

.content-section.repo-social #left #repo-list .repo .top .icons {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: right;
}
.content-section.repo-social #left #repo-list .repo .top .icons .icon-container {
	height: 100%;
	display: inline-block;
	float: right;
	border-radius: 5px;
	margin: 0px 15px 0px 0px;
}
.content-section.repo-social #left #repo-list .repo .top .icons .icon-container:first-child {
	margin: 0px;
}

.content-section.repo-social #left #repo-list .repo .top .icons .icon-container .icon {
	font-size: 22px;
	color: rgba(0,0,0,0.3);
	display: inline-block;
	float: left;
	line-height: 34px;
	height: 100%;
	text-align: center;
}
.content-section.repo-social #left #repo-list .repo .top .icons .icon-container:hover p {
	color: rgba(0,0,0,0.6);
}
.content-section.repo-social #left #repo-list .repo .top .icons .icon-container:hover .icon {
	color: rgba(0,0,0,0.6);
}

.content-section.repo-social #left #repo-list .repo .top .icons .icon-container p {
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	text-shadow: 1px 1px rgba(0,0,0,0.1);
	display: inline-block;
	float: left;
	line-height: 36px;
	padding: 0px 0px 0px 5px;
	color: rgba(0,0,0,0.4);
}

.content-section.repo-social #left #repo-list .repo .bottom ul {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #ccc;
	overflow: hidden;
}
.content-section.repo-social #left #repo-list .repo .bottom ul li {
	display: inline-block;
	padding: 0px 10px 0px 0px;
	font-family: "Roboto", sans-serif;
}

.content-section.repo-social #right #social-list {
	width: 100%;
}
.content-section.repo-social #right .social-item {
	position: relative;
	height: 270px;
	width: 100%;
	background: #ecf0f1;
	border: 1px solid #bdc3c7;
	border-top: none;
	border-radius: 5px;
	margin: 0px 0px 20px 0px;
}
.content-section.repo-social #right .social-item:before {
	content: "";
	position: absolute;
	top: 0; left: -1px;
	height: 20px;
	width: calc(100% + 2px);
	background: #bdc3c7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.content-section.repo-social #right .social-item .container {
	height: calc(100% - 20px);
	width: 100%;
	position: absolute;
	top: 20px; left: 0;
}

.content-section.repo-social #right .social-item .container .left {
	height: 100%;
	width: 30%;
	display: inline-block;
	float: left;
}
.content-section.repo-social #right .social-item .container .right {
	height: 100%;
	width: 70%;
	display: inline-block;
	float: left;
}

.content-section.repo-social .social-item .container .left .logo-container {
	height: 100%;
	width: 100%;
	position: relative;
}
.content-section.repo-social .social-item .container .left .logo-container .logo {
	height: 160px;
	width: 160px;
	display: block;
	position: absolute;
	top: calc(50% - (160px / 2));
	left: calc(50% - (160px / 2));
}

.content-section.repo-social .social-item .container .right h1 {
	height: 38px;
	width: calc(100% - (10px * 2));
	padding: 20px 10px 20px 10px;
	font-size: 38px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.content-section.repo-social .social-item .container .right p {
	width: calc(100% - (10px * 2));
	padding: 0px 10px 0px 10px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 32px;
}


/*
 _____  _____  _____ _____ _____ _   _  _____ 
|  __ \|  __ \|_   _/ ____|_   _| \ | |/ ____|
| |__) | |__) | | || |      | | |  \| | |  __ 
|  ___/|  _  /  | || |      | | | . ` | | |_ |
| |    | | \ \ _| || |____ _| |_| |\  | |__| |
|_|    |_|  \_\_____\_____|_____|_| \_|\_____|                                             
*/

.content-section.pricing {
	
}

.content-section.pricing #options-container {
	width: 100%;
	padding: 10px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 1;
}

.content-section.pricing #options-container .option {
	height: calc(450px - 50px);
	flex-basis: 25%;
	margin-right: 20px;
	margin-left: 20px;
	background: #fff;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 50px 0px 0px 0px;
}
.content-section.pricing #options-container .option:last-child {
	margin-right: 0px;
}
.content-section.pricing #options-container .option:first-child {
	margin-left: 0px;
}
.content-section.pricing #options-container .option:before {
	content: "";
	height: 51px;
	width: calc(100% + 2px);
	background: var(--secondary-accent-color);
	position: absolute;
	top: -1px; left: -1px;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.content-section.pricing #options-container .option:nth-child(1):before {
	opacity: 0.7;
}
.content-section.pricing #options-container .option:nth-child(2):before {
	opacity: 0.8;
}
.content-section.pricing #options-container .option:nth-child(3):before {
	opacity: 0.9;
}
.content-section.pricing #options-container .option:nth-child(4):before {
	opacity: 1;
}

.content-section.pricing #options-container .option h1 {
	height: 32px;
	width: 100%;
	font-size: 32px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	position: relative;
	padding: 25px 0px 25px 0px;
	text-align: center;
}

.content-section.pricing #options-container .option ul {
	width: 100%;
}	
.content-section.pricing #options-container .option ul li {
	width: 100%;
	height: 22px;
	font-size: 22px;
	text-align: center;
	padding: 8px 0px 8px 0px;
}
.content-section.pricing #options-container .option ul li:first-child {		
	padding: 0px 0px 8px 0px;
}
.content-section.pricing #options-container .option ul li:last-child {		
	padding: 8px 0px 0px 0px;
}

.content-section.pricing #options-container .button {
	height: 40px;
	width: 100px;
	/*border: 1px #ccc solid;*/
	background: var(--secondary-accent-color);
	position: absolute;
	bottom: 35px; left: calc(50% - (100px / 2));
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}
.content-section.pricing #options-container .button:hover {
	opacity: 1;
}
.content-section.pricing #options-container .button p {
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}


/*         
  _____ ____  _   _ _______       _____ _______ 
 / ____/ __ \| \ | |__   __|/\   / ____|__   __|
| |   | |  | |  \| |  | |  /  \ | |       | |   
| |   | |  | | . ` |  | | / /\ \| |       | |   
| |___| |__| | |\  |  | |/ ____ \ |____   | |   
 \_____\____/|_| \_|  |_/_/    \_\_____|  |_|   
*/

.content-section.contact {

}

.content-section.contact #left {
	width: calc(57% - 150px);
	display: inline-block;
	float: left;
	padding: 0px 150px 0px 0px;
}
.content-section.contact #right {
	width: 43%;
	display: inline-block;
	float: left;
}

.content-section.contact #left h2 {
	font-size: 28px;
	font-weight: 300;
}
.content-section.contact #left p {
	font-size: 22px;
	padding: 20px 0px 0px 0px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 28px;
}
.content-section.contact #left ul {
	width: 100%;
	list-style: inside circle;
}
.content-section.contact #left ul li {
	width: 100%;
	height: 22px;
	font-size: 22px;
	padding: 10px 0px 0px 35px
}

.content-section.contact #right form {
	width: 100%;
}
.content-section.contact #right form input[type="text"] {
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: rgba(0,0,0,0.75);
	border-radius: 5px;
	border: 1px #ccc solid;
	padding: 0px 10px 0px 10px;
	margin: 5px 0px 5px 0px;
}

.content-section.contact #right form input[type="text"]::placeholder {
	color: #ccc;
} 
.content-section.contact #right form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  	color: #ccc;
}
.content-section.contact #right form input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  	color: #ccc;
}

.content-section.contact #right form textarea[type="text"] {
	max-width: 100%;
	min-width: 100%;
	min-height: 48px;
	max-height: 288px;
	font-size: 24px;
	line-height: 36px;
	color: rgba(0,0,0,0.75);
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	border-radius: 5px;
	border: 1px #ccc solid;
	padding: 0px 10px 0px 10px;
	margin: 5px 0px 5px 0px;
}

.content-section.contact #right form textarea[type="text"]::placeholder {
	color: #ccc;
} 
.content-section.contact #right form textarea[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  	color: #ccc;
}
.content-section.contact #right form textarea[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  	color: #ccc;
}

.content-section.contact #right form button {
	height: 64px;
	width: 100%;
	margin: 12px 0px 0px 0px;
	outline: none;
	border: none;
	background: var(--secondary-accent-color);
	border-radius: 8px;
	border-bottom: solid var(--accent-color);
	opacity: 0.8;
}
.content-section.contact #right form button:hover {
	opacity: 0.9;
}	
.content-section.contact #right form button:active {
	border-width: 2px;
}	
.content-section.contact #right form button .icon {
	color: #fff;
	font-size: 36px;
	text-shadow: 2px 2px rgba(255,255,255,0.4);
}


/*
 ______ ____   ____ _______ ______ _____  
|  ____/ __ \ / __ \__   __|  ____|  __ \ 
| |__ | |  | | |  | | | |  | |__  | |__) |
|  __|| |  | | |  | | | |  |  __| |  _  / 
| |   | |__| | |__| | | |  | |____| | \ \ 
|_|    \____/ \____/  |_|  |______|_|  \_\
                                          
*/

#main #footer {
	height: 100px;
	width: 100%;
	margin-top: 40px;
	background: var(--accent-color);
	position: relative;
}

#main #footer #info-bar {
	height: 100%;
	width: 100%;
}
#main #footer #info-bar .info-item {
	height: 100%;
	width: 80px;
	padding: 0px 20px 0px 20px;
	display: inline-block;
	float: left;
}
#main #footer #info-bar .info-item p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}

@media only screen and (max-width: 1700px) { /* Restrict width (1600px) + the padding */
	.restrict {
		width: calc(100% - 100px);
		padding: 0px 50px 0px 50px;
	}	 
	#header #right #contact {
		display: none;
	}
}

@media only screen and (max-width: 1400px) { 
	.content-section.repo-social #left {
		width: calc(50% - 50px);
		display: inline-block;
		float: left;
		padding: 0px 50px 0px 0px;
	}
	.content-section.repo-social #right {
		width: 50%;
		display: inline-block;
		float: left;
	}

	.content-section.pricing #options-container {
		width: 100%;
		padding: 10px 0px 0px 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-shrink: 1;
		justify-content: space-between;
	}

	.content-section.pricing #options-container .option {
		height: calc(450px - 50px);
		flex: 1 0 45%;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 50px 0px 0px 0px;
		margin-left: 0px;
	}

	.content-section.pricing #options-container .option:nth-child(2n+2) {
		margin-right: 0px;
	}
	.content-section.pricing #options-container .option:nth-child(3) {
		margin-top: 25px;
	}
	.content-section.pricing #options-container .option:nth-child(4) {
		margin-top: 25px;
	}
}

@media only screen and (max-width: 1300px) { 
	.content-section.repo-social #left {
		width: 100%;
		display: inline-block;
		float: left;
		padding: 0px 50px 0px 0px;
	}
	.content-section.repo-social #right {
		width: 100%;
		display: inline-block;
		float: left;
	}
}

@media only screen and (max-width: 850px) { 
	.content-section.pricing #options-container {
		width: 100%;
		padding: 10px 0px 0px 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-shrink: 1;
		justify-content: space-between;
	}

	.content-section.pricing #options-container .option {
		height: calc(450px - 50px);
		flex: 1 0 50%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 25px;
	}
}
