@import "./_vars.scss";
@import "./_fonts.scss";
@import "./reset.scss";

html {
  font-family: map_get($fonts, "default");
}

.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.page.light {
  background: map_get($lightColors, "background");
}
.page.dark {
  background: map_get($darkColors, "background");
}


.page.index .container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
}

.page.index .container h1 {
  font-weight: 600;
  font-size: 42px;
  user-select: none;
  white-space: nowrap;
}
.page.index.light .container h1 {
  color: map_get($lightColors, "primaryAccent");
}
.page.index.dark .container h1 {
  color: map_get($darkColors, "primaryAccent");
}

.page.index .container h2 {
  font-weight: 300;
  font-size: 20px;
  padding-top: 6px;
  user-select: none;
}
.page.index.light .container h2 {
  color: map_get($lightColors, "secondaryAccent");
}
.page.index.dark .container h2 {
  color: map_get($darkColors, "secondaryAccent");
}

.page.index .container h2 span {
  user-select: none;
  white-space: nowrap;
}
.page.index .container h2 a:not([href=""]) {
  font-weight: 500;
}
.page.index .container h2 span:not(:first-child),
.page.index .container h2 a:not(:first-child) {
  padding-left: 14px;
  margin-left: 14px;
  border-left: 1px solid;
}
.page.index.light .container h2 span:not(:first-child),
.page.index.light .container h2 a:not(:first-child) {
  border-color: map_get($lightColors, "secondaryAccent")
}
.page.index.dark .container h2 span:not(:first-child),
.page.index.dark .container h2 a:not(:first-child) {
  border-color: map_get($darkColors, "secondaryAccent")
}

.page.index .container > .socials {
  display: flex;
  margin-top: 24px;
}

.page.index .container .socials .column {
  padding-right: 24px;
} 

.page.index .container .socials .column h3 { 
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
}
.page.index.light .container .socials .column h3 {
  color: map_get($lightColors, "primaryAccent");
}
.page.index.dark .container .socials .column h3 {
  color: map_get($darkColors, "primaryAccent");
}

.page.index .container .socials .social {
  height: 42px;
  width: 42px;
  border-radius: 2px;
  position: relative;
  margin: 0 auto 2px auto;
}
.page.index.light .container .socials .social:hover {
  background: map_get($lightColors, "backgroundHover");
}
.page.index.dark .container .socials .social:hover {
  background: map_get($darkColors, "backgroundHover");
}

.page.index .container .socials .social i {
  width: 100%;
  line-height: 42px;
  font-size: 32px;
  text-align: center;
}
.page.index.light .container .socials .social i {
  color: map_get($lightColors, "secondaryAccent");
}
.page.index.dark .container .socials .social i {
  color: map_get($darkColors, "secondaryAccent");
}

.page.index.light .container .socials .social:hover i {
  color: map_get($lightColors, "primaryAccent");
}
.page.index.dark .container .socials .social:hover i {
  color: map_get($darkColors, "primaryAccent");
}

.page.index .container .socials .social .tooltip {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.1s;
  position: absolute;
  bottom: -28px; left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 6px;
  border-radius: 2px;
  z-index: 1;
}
.page.index.light .container .socials .social .tooltip {
  background: map_get($lightColors, "secondaryAccent");
  color: map_get($lightColors, "background");
} 
.page.index.dark .container .socials .social .tooltip {
  background: map_get($darkColors, "secondaryAccent");
  color: map_get($darkColors, "background");
}

.page.index .container .socials .social:hover .tooltip {
  opacity: 1;
  transition-delay: 0.8s;
}


.footer {
  position: absolute;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  padding-bottom: 18px;
}

.footer p {
  font-size: 16px;
  user-select: none;
}
.page.light .footer p { 
  color: map_get($lightColors, "tertiaryAccent");
}
.page.dark .footer p {
  color: map_get($darkColors, "tertiaryAccent");
}